.container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: rgb(229, 228, 228);
}

.left {
    flex: 2;
    padding: 30px 90px;
}

.left h1 {
    font-size: 32px;
    font-weight: 400;
    color: brown;
}

.left p {
    font-size: 20px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 90px;
}

.arriba {
    background-color: brown;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.arriba h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.arriba h3 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.arriba p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.button {
    background-color: lightgrey;
    padding: 10px 30px;
    border-radius: 8px;
}

@media screen and (max-width: 932px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .left h1 {
        font-size: 30px;
    }

    .left p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }
    .left {
        padding: 20px 30px;
    }
    .right {
        padding: 20px 30px;
    }
}