.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    gap: 30px;
}

.link {
    font-size: 20px;
    font-weight: 400;
    color: rgb(142, 2, 118);
}

@media screen and (max-width: 650px) {
    .container {
        justify-content: center;
        gap: 20px;
    }

    .link {
        font-size: 20px;
    }
}

@media screen and (max-width: 560px) {
    .container {
        gap: 15px;
    }

    .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        gap: 20px;
        justify-content: space-around;
    }
    .link {
        text-align: center;
    }
}