.container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #C9D7FB;
}

.left {
    flex: 1;
    padding: 30px 90px;
}

.left h1 {
    font-size: 28px;
    font-weight: 400;
    color: brown;
}

.left p {
    font-size: 20px;
}

.contvideo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 60px;
}

.video {
    flex: 35%;
}


@media screen and (max-width: 932px) {
    .container {
        flex-direction: column;
    }
    .video {
        flex: 50%;
    }
}

@media screen and (max-width: 640px) {
    .left h1 {
        font-size: 24px;
    }

    .left p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }
    .left {
        padding: 20px 30px;
    }
    .contvideo {
        padding: 10px 30px;
    }
}