.container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #C9D7FB;
}

.left {
    flex: 2;
    padding: 30px 90px;
}

.left h1 {
    font-size: 28px;
    font-weight: 400;
    color: brown;
}

.left h2 {
    font-size: 24px;
    font-weight: 600;
    color: brown;
}

.left p {
    font-size: 20px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 90px;
}

.arriba {
    background-color: brown;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.arriba h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.arriba h3 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.arriba p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.abajo {
    background-color: #5E96CA;
    border: 3px solid brown;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.abajo h2 {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.abajo p {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.button {
    background-color: #C9D7FB;
    font-weight: 600;
    color: brown;
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px solid brown;
}

.button:hover {
    background-color: brown;
    color: white;
    transition: all 0.3s ease;
}

@media screen and (max-width: 932px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 872px) {
    .img {
        width: 640px;
        height: 260px;
    }
}

@media screen and (max-width: 772px) {
    .img {
        width: 520px;
        height: 180px;
    }
}

@media screen and (max-width: 640px) {
    .left h1 {
        font-size: 30px;
    }

    .left p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }
    .left {
        padding: 20px 30px;
    }
    .right {
        padding: 20px 30px;
    }
    .img {
        width: 320px;
        height: 190px;
    }
}